html {
  font-family: Arial, Helvetica, sans-serif;
}

div > input {
  padding: 15px 25px;
  max-width: 150px;
}

body {
  background-color: #3eaaf5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.input-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

form {
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 15px;
}

h2 {
  font-size: medium;
}

body > h2 {
  max-width: 350px;
  text-align: center;
}

.options {
  margin-top: 20px;
  width: 380px;
  border: 1px solid white;
  padding: 10px 20px 18px 18px;
  display: flex;
  gap: 12px;
}

.options > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

p {
  font-size: 10px;
}

.btn {
  background-color: #28d2d1;
  color: white;
  padding: 16px 170px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #009595;
}

.radio-button {
  margin: 0;
  align-self: flex-start;
}

fieldset > input {
  width: 9px;
}

.marketing {
  margin-top: 10px;
  margin-bottom: 15px;
}

.marketing label {
  font-size: 10px;
}
